<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cartMapper" >
  
  <resultMap type="kh.semi.tomorrow.cart.model.vo.CartVo" id="newCartMap">
  	<id column="C_NO" property="cNo"/>
  	<result column="M_ID" property="mId"/>
  	<result column="p_no" property="pNo"/>
  	<result column="p_seq" property="pSeq"/>
  	<result column="c_cnt" property="cCnt"/>
  	<result column="c_ny" property="cNy"/>
  	<result column="p_brand" property="pBrand"/>
  	<result column="p_name" property="pName"/>
  	<result column="product_img_name" property="productImgName"/>
  	<result column="p_price" property="pPrice"/>
  </resultMap>
  
  <insert id="insertmyCart" parameterType="Cart" >
	  insert into cart 
		  (C_NO,M_ID,P_NO,
		  P_SEQ,C_CNT,C_NY)
	  values 
		  (SEQUENCE_CART_C_NO.nextval, #{mId}, #{pNo}, 
		  #{pSeq}, 1, default)
  </insert>
  
  <select id="checkCntCart" parameterType="hashmap" resultType="_int">
  	select c_cnt from cart where m_id= #{mId} and p_no=#{pNo}
  </select>
  
  <select id="checkEqualCart"  parameterType="Cart" resultType="hashmap">
  	select p_seq from cart where m_id= #{mId} and p_no=#{pNo} and option1
  </select>
  
  <update id="updatemyCart" parameterType="kh.semi.tomorrow.cart.model.vo.CartVo" statementType="STATEMENT">
   	update cart set c_cnt = #{cCnt} where m_id = #{mId} and p_no =#{pNo} and p_seq =#{pSeq}
  </update>
  
  <select id="myCart" parameterType="string" resultMap="newCartMap">
	  select * from cart left outer join product using(p_no) 
		left outer join product_img using(p_no) where m_id = #{mId}
		order by c_no desc
  </select>
</mapper>
