<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper" >

  <resultMap type="kh.semi.tomorrow.order.model.vo.OrderVo" id="newOrderMap">
  	<id column="O_NO" property="oNo"/>
  	<result column="M_ID" property="mId"/>
  	<result column="p_seq" property="pSeq"/>
  	<result column="c_cnt" property="cCnt"/>
  	<result column="p_price" property="pPrice"/>
  	<result column="o_date" property="oDate"/>
  	<result column="o_total_price" property="oTotalPrice"/>
  	<result column="o_name" property="oName"/>
  	<result column="e_mail" property="eMail"/>
  	<result column="o_phone" property="oPhone"/>
  	<result column="re_name" property="reName"/>
  	<result column="re_address" property="reAddress"/>
  	<result column="re_phone" property="rePhone"/>
  	<result column="opt_val" property="optVal"/>
  	<result column="product_img_name" property="productImgName"/>
  	<result column="p_name" property="pName"/>
  	<result column="p_brand" property="pBrand"/>
  </resultMap>
  
 
  
  <select id="myOrder2" parameterType="string" resultMap="newOrderMap">
	select * from (select * from orders where m_id= #{mId} ) 
	join order_detail using(o_no) 
	join product using (p_no) 
	left outer join PRODUCT_IMG using (p_no)
  </select>
  

</mapper>
